@model InvoiceSystem.DTO.InvoiceDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoiceDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>
                Product/Dienst
            </th>
            <th>
                Aantal
            </th>
            <th>
                Eenheidsprijs
            </th>
            <th>
                Korting
            </th>
            <th>
                BTW
            </th>
            <th>
                Prijs Excl
            </th>
            <th>
                Prijs Incl
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.DetailLines)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VATPercentage)
                </td>
                <td>
                    @ViewBag.TotalPriceExcl
                </td>
                <td>
                    @ViewBag.TotalPriceIncl
                </td>
                <td>
                    @Html.ActionLink("Wijzig", "Edit", "DetailLine", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "DetailLine", new { id = item.Id }, null)

                </td>
            </tr>
        }

        <tr>
            @Html.ActionLink("Detaillijn toevoegen", "Create", "DetailLine", new { id = Model.Id }, null)
        </tr>

    </table>
    <div align="right">
        <b>
            Totale Prijs Excl:
            @ViewBag.TotalPriceExcl €<br />
            Totale prijs Incl:
            @ViewBag.TotalPriceIncl €
        </b>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
