@model InvoiceSystem.DTO.CustomerDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomerDTO</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.Postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Postal), @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
